</div><!-- === END of MAIN === -->

<!-- === FOOTER === -->
<footer class="footer">
    <div class="container clearfix">
        <a class="footer_logo" href="/~user2/perl_newspaper/index.cgi">
            <img src="/~user2/perl_newspaper/static/img/logo.png" alt="logo">
        </a>
    </div>
</footer>

<script src="/~user2/perl_newspaper/static/js/js.js" type="text/javascript"></script>
</body>
</html>