<!DOCTYPE HTML>
<!-- writed by user14 -->
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title><TMPL_VAR NAME=TITLE></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/~user2/perl_newspaper/static/css/normalize.css">
    <link rel="stylesheet" href="/~user2/perl_newspaper/static/css/style.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic" rel="stylesheet">
    <!-- SCRIPTS -->
    <script type="text/javascript">
        var path = '/~user2/perl_newspaper/index.cgi';
    </script>
</head>

<body>
<!-- === HEADER === -->
<header class="header">
    <div class="container clearfix">
        <a class="header_logo" href="/~user2/perl_newspaper/index.cgi">
            <img src="/~user2/perl_newspaper/static/img/logo.png" alt="logo">
        </a>
        
        <div class="header_contact">
            <div>+38-067-111-11-11</div>
            <div>email@gmail.com</div>
        </div>
    </div>
</header>

<!-- MAIN CONTENT -->
<div class="main container">
<div style="text-align: center; font-weight: 700; color: red; font-size:20px;"><TMPL_VAR NAME=ERROR></div>
