<h1>Регистрация пользователя</h1>
<div class="article_wrap container">
    <form id="reg_form" class="reg_form" method="post" action="">
        <input type="text" name="login" placeholder="Login" value="">
        <input type="text" name="lastname" placeholder="Фамилия" value="">
        <input type="text" name="firstname" placeholder="Имя" value="">
        <input type="text" name="email" placeholder="Email" value="">
        <input class="js_reg_pass" type="password" name="password" placeholder="Пароль">
        <input class="js_reg_repass" type="password" placeholder="Пароль еще раз">
        <button type="submit" class="btn btn_reg">Зарегистрироваться</button>
    </form>
</div>
<script>
window.onload = function() {
    var reg_form = new RegForm({
        formId: 'reg_form'
    });
};
</script>