<div class="auth">
    <div class="auth_name">Привет, <TMPL_VAR NAME=USERNAME>!</div>
    <a class="btn btn_add" href="/~user2/perl_newspaper/index.cgi/create">Новая статья</a>
    <a class="btn btn_logout" href="/~user2/perl_newspaper/index.cgi/logout">Выход</a>
</div>
